* {
  box-sizing: border-box;
  font-family: 'Enriqueta', serif;
}

:root {
  --overlay-color: #00000088;
  --text-color: #000000;
  --text-color-hover: #444444;
  --text-color-light: #ffffff;
  --text-color-hover-light: #bbbbbb;
  --primary1: #45659d;
  --primary2: #82204a;
  --primary3: #79b473;
  --primary4: #70a37f;
  --break-s: 800px;
  --break-l: 1024px;
  --transition: 0.2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  margin: 0;
}

a {
  text-decoration-color: transparent;
  color: var(--text-color);
  transition: text-decoration-color var(--transition), color var(--transition);
}
a:hover,
a:focus {
  color: var(--text-color-hover);
  text-decoration-color: var(--text-color-hover);
}

p {
  margin-top: 0;
}

body {
  background-image: url(./assets/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-content {
  max-width: 64rem;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.overlay {
  background-color: var(--overlay-color);
  margin-top: 1rem;
  padding: 2rem;
  color: var(--text-color-light);
}

.overlay:first-of-type {
  margin-top: 0rem;
}

.fifty-fifty-column {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.fifty-fifty-column > * {
  width: 100%;
}
@media (min-width: 800px) {
  .fifty-fifty-column {
    flex-direction: row;
  }
  .fifty-fifty-column > * {
    width: 50%;
  }
}

.visually-hidden-accessibility {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.skip-link {
  height: 1px;
  position: absolute;
  width: auto;
  overflow: hidden;
  background-color: transparent;
}
.skip-link:focus {
  height: auto;
  z-index: 100;
  background-color: white;
}

p,
td,
th {
  line-height: 1.4rem;
}

.button {
  background-color: var(--primary1);
  border: none;
  padding: 1rem;
  transition: background-color var(--transition);
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color-light);
  display: inline-block;
}
.button:hover,
.button:focus {
  background-color: var(--primary2);
  color: var(--text-color-light);
}

/*============================================================================*/
/* Header Styles */
/*============================================================================*/
header {
  padding: 0.75rem 0;
  background-color: var(--overlay-color);
}
header .inner-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 800px) {
  header .inner-content {
    flex-direction: row;
  }
}
.logo-container {
  display: flex;
  align-items: center;
}
.sitename {
  color: var(--text-color-light);
  font-size: 1.4rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
@media (min-width: 400px) {
  .sitename {
    font-size: 2rem;
  }
}
.logo {
  height: 2.5rem;
  margin-right: 1rem;
}
nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
nav ul li {
  padding-left: 1rem;
}
header nav a {
  color: var(--text-color-light);
}
header nav a:hover,
header nav a:focus {
  color: var(--text-color-hover-light);
}

/*============================================================================*/
/* Footer Styles */
/*============================================================================*/
footer {
  background-color: var(--overlay-color);
  color: var(--text-color-light);
}

footer .inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
}
footer .links {
  text-align: center;
}

footer .copyright {
  margin: 1rem 0;
}

footer .links  > div {
  margin: 1rem;
}

@media (min-width: 800px) {
  footer .inner-content {
    flex-direction: row;
  }
  footer .links {
    text-align: right;
  }
  footer .copyright {
    margin: 0;
  }
  footer .links > div {
    margin: 0;
  }
}

footer a {
  color: var(--text-color-light);
}
footer a:hover,
footer a:focus {
  color: var(--text-color-hover-light);
}
