* {
  box-sizing: border-box;
}

body {
  font-family: 'Enriqueta', sans-serif;
}

@view-transition {
  navigation: auto;
}

@font-face {
  font-family: 'Seagram';
  src: url('./assets/fonts/SeagramTfb.ttf');
}

:root {
  --overlay-color: #00000088;
  --background-secondary: #2a2a2a;
  --font-large: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  --font-main: 'Enriqueta', sans-serif;
  --font-styled: 'Seagram', 'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --text-color: #000000;
  --text-color-hover: #444444;
  --text-color-light: #ffffff;
  --text-color-hover-light: #bbbbbb;
  --primary1: #45659d;
  --primary2: #82204a;
  --primary3: #79b473;
  --primary4: #70a37f;
  --border1: #bbbbbb;
  --break-s: 800px;
  --break-l: 1024px;
  --transition: 0.2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-styled);
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
}

h1 {
  margin-bottom: 1rem;
}

a {
  text-decoration-color: transparent;
  color: var(--text-color);
  transition: text-decoration-color var(--transition), color var(--transition);
}
a:hover,
a:focus {
  color: var(--text-color-hover);
  text-decoration-color: var(--text-color-hover);
}

p {
  margin-top: 0;
}

body::before {
  position: fixed;
  content: '';
  z-index: -1;
  background-image: url(./assets/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.inner-content {
  max-width: 64rem;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

main {
  min-height: calc(100vh - 175px);
}

main .inner-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.overlay {
  background-color: var(--overlay-color);
  margin-top: 1rem;
  padding: 1.6rem 2rem;
  color: var(--text-color-light);
  border-bottom: 0.5px solid var(--primary1);
}

.overlay:first-of-type {
  margin-top: 0rem;
}

.overlay a {
  color: white;
  &:hover,
  &:focus {
    color: #ccc;
    text-decoration-color: #ccc;
  }
}

.fifty-fifty-column {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.fifty-fifty-column > * {
  width: 100%;
}
@media (min-width: 800px) {
  .fifty-fifty-column {
    flex-direction: row;
  }
  .fifty-fifty-column > * {
    width: 50%;
  }
}

.visually-hidden-accessibility {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.skip-link {
  height: 1px;
  position: absolute;
  width: auto;
  overflow: hidden;
  background-color: transparent;
}
.skip-link:focus {
  height: auto;
  z-index: 100;
  background-color: white;
}

p,
td,
th {
  line-height: 1.4rem;
}

.button {
  background-color: var(--primary1);
  border: none;
  padding: 1rem 1.5rem;
  transition: background-color var(--transition);
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color-light);
  display: inline-block;
}
.button.back {
  margin-bottom: 1rem;
  background-color: var(--overlay-color);
  color: var(--text-color-light);
}
.button:hover,
.button:focus {
  background-color: var(--primary2);
  color: var(--text-color-light);
}

/*============================================================================*/
/* Header Styles */
/*============================================================================*/
header {
  padding: 0.75rem 0;
  background-color: var(--overlay-color);
  border-bottom: 0.5px solid var(--primary1);
}
header .inner-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
@media (min-width: 800px) {
  header .inner-content {
    flex-wrap: wrap;
  }
}
.logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sitename {
  color: var(--text-color-light);
  font-size: 1.4rem;
  font-family: var(--font-large);
}
@media (min-width: 400px) {
  .sitename {
    font-size: 2rem;
  }
}
.logo {
  height: 2.5rem;
  margin-right: 1rem;
}

header nav {
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    text-align: center;
  }
}

@media (min-width: 860px) {
  header nav {
    width: unset;
  }
  nav ul {
    flex-direction: row;
    text-align: left;
  }
}

header nav a {
  color: var(--text-color-light);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: block;
  background-color: var(--background-secondary);
  transition: color var(--transition), background-color var(--transition);
}
header nav a:hover,
header nav a:focus {
  color: var(--text-color-light);
  background-color: var(--text-color-hover);
}

@media (min-width: 860px) {
  header nav a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: unset;
  }

  header nav a:hover,
  header nav a:focus {
    color: var(--text-color-hover-light);
    background-color: unset;
    text-decoration-color: transparent;
  }
}

header .external-link {
  color: var(--text-color-light);
}

.hamburger {
  margin: 1rem;
  width: 40px;
  height: 30px;
  position: relative;
  top: 0;
  right: 0;
  transform: rotate(0deg);
  cursor: pointer;
  border: none;
  background: none;
}
@media screen and (min-width: 860px) {
  .hamburger {
    display: none;
  }
}
.hamburger span {
  top: 0;
  left: 0;
}
.hamburger .first-span {
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--text-color-light);
  transition-timing-function: ease;
  transition-duration: 0.5s;
  border-radius: 0px;
  transform-origin: center center;
  position: absolute;
  transform: translate3d(0px, 0px, 0px) rotate(0deg);
  margin-top: -0.5px;
}
.hamburger.open .first-span {
  transform: translate3d(0px, 15px, 0px) rotate(45deg);
}
.hamburger .second-span {
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--text-color-light);
  transition-timing-function: ease-out;
  transition-duration: 0.125s;
  border-radius: 0px;
  transform-origin: center center;
  position: absolute;
  opacity: 1;
  top: 15px;
  margin-top: -0.5px;
}
.hamburger.open .second-span {
  opacity: 0;
}
.hamburger .third-span {
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--text-color-light);
  transition-timing-function: ease;
  transition-duration: 0.5s;
  border-radius: 0px;
  transform-origin: center center;
  position: absolute;
  transform: translate3d(0px, 30px, 0px) rotate(0deg);
  margin-top: -0.5px;
}
.hamburger.open .third-span {
  transform: translate3d(0px, 15px, 0px) rotate(-45deg);
}

.js-enabled header nav {
  display: none;
  a {
    border-bottom: 1px solid var(--primary1);
  }
}
@media screen and (min-width: 860px) {
  .js-enabled header nav {
    display: flex;
    a {
      border-bottom: unset;
    }
  }
}

.js-enabled header.mobile-menu-open nav {
  overflow: scroll;
  display: block;
  position: fixed;
  top: 87px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-secondary);
  z-index: 1000;
}
.js-enabled header.mobile-menu-open nav > a {
  display: block;
  text-align: left;
  padding: 1rem 2rem;
}

/*============================================================================*/
/* Footer Styles */
/*============================================================================*/
footer {
  background-color: var(--overlay-color);
  color: var(--text-color-light);
}

footer .inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
}

footer .socials {
  display: flex;
  gap: 1rem;
}

footer .links {
  text-align: center;
}

footer .copyright {
  margin: 1rem 0;
}

footer .links > div {
  margin: 1rem;
}

@media (min-width: 800px) {
  footer .inner-content {
    flex-direction: row;
  }
  footer .links {
    text-align: right;
  }
  footer .copyright {
    margin: 0;
  }
  footer .links > div {
    margin: 0;
  }
}

footer a {
  color: var(--text-color-light);
}
footer a:hover,
footer a:focus {
  color: var(--text-color-hover-light);
}

footer .alex {
  padding-top: 0.5rem;
  font-size: 0.75rem;
}
