.introduction-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.introduction-section img {
  max-width: 150px;
}
.introduction-section h1,
.introduction-section .left div {
  text-align: center;
}
.introduction-section .right {
  padding-top: 2rem;
}
@media (min-width: 800px) {
  .introduction-section {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .introduction-section h1,
  .introduction-section .left div {
    text-align: left;
  }
  .introduction-section .right {
    text-align: end;
    padding-top: unset;
    padding-left: 2rem;
  }
}

.featured-publication-container {
  position: relative;
  padding-top: 8rem;
}

.featured-publication-container h2,
.featured-publication-container h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.featured-publication-container h2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.2rem;
  font-size: ;
  background-color: var(--overlay-color);
  font-family: var(--font-large);
  border-bottom: 1px solid var(--primary2);
}
@media (min-width: 600px) {
  .featured-publication-container {
    padding-top: 6rem;
  }
  .featured-publication-container h2 {
    right: unset;
  }
}

.featured-publication-container h3 {
  font-size: 2.5rem;
}

.featured-publication-container .fifty-fifty-column {
  margin-top: 2rem;
}
.featured-publication-image-container {
  text-align: center;
}
@media (min-width: 800px) {
  .featured-publication-image-container {
    text-align: end;
  }
}
.featured-publication-image {
  width: 100%;
}

.featured-publication-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contact-container h2 {
  margin-bottom: 1rem;
}

.mailchimp-form {
  margin-top: 1.5rem;
}

.mailchimp-form h2 {
  display: none;
}

.mailchimp-form .asterisk {
  color: var(--error1);
}

.mailchimp-form label {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mc-field-group {
  margin-bottom: 1rem;
}
.mailchimp-form .mc-field-group input {
  padding: 0.25rem;
  border: 1.5px solid transparent;
  transition: border-color 0.3s;
}
.mailchimp-form .mc-field-group input,
.mailchimp-form .mce_inline_error {
  display: block;
  width: 100%;
}
.mailchimp-form #mc_embed_signup div.mce_inline_error {
  font-weight: normal;
  background-color: var(--error1);
}
@media (min-width: 800px) {
  .mailchimp-form .mc-field-group input,
  .mailchimp-form .mce_inline_error {
    width: 50%;
  }
}
.mailchimp-form .mc-field-group input.valid {
  border: 1.5px solid var(--primary3);
}

.mailchimp-form #mc_embed_signup input.mce_inline_error {
  border: 1.5px solid var(--error1);
}

.mailchimp-form .response {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
