.introduction-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.introduction-section img {
  max-width: 150px;
}
.introduction-section h1,
.introduction-section .left div {
  text-align: center;
}
.introduction-section .right {
  padding-top: 2rem;
}
@media (min-width: 800px) {
  .introduction-section {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .introduction-section h1,
  .introduction-section .left div {
    text-align: left;
  }
  .introduction-section .right {
    text-align: end;
    padding-top: unset;
    padding-left: 2rem;
  }
}

.featured-publication-container {
  position: relative;
  padding-top: 8rem;
}

.featured-publication-container h2,
.featured-publication-container h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.featured-publication-container h2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.2rem;
  font-size: ;
  background-color: var(--overlay-color);
  font-family: var(--font-large);
  border-bottom: 1px solid var(--primary2);
}
@media (min-width: 600px) {
  .featured-publication-container {
    padding-top: 6rem;
  }
  .featured-publication-container h2 {
    right: unset;
  }
}

.featured-publication-container h3 {
  font-size: 2.5rem;
}

.featured-publication-container .fifty-fifty-column {
  margin-top: 2rem;
}
.featured-publication-image-container {
  text-align: center;
}
@media (min-width: 800px) {
  .featured-publication-image-container {
    text-align: end;
  }
}
.featured-publication-image {
  width: 100%;
}

.featured-publication-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contact-container h2 {
  margin-bottom: 1rem;
}
